<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coen390.j_abba.random_facts" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Random Facts"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Random Facts" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FactsActivity"
            android:label="Facts Generator"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coen390.j_abba.random_facts.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coen390.j_abba.random_facts.MainActivity" />
        </activity>
        <activity
            android:name=".AllFacts"
            android:label="@string/title_activity_all_facts"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coen390.j_abba.random_facts.MainActivity" />
        </activity>
    </application>

</manifest>
